Congratulations!
Nice job !!
You have successfully ran your first project with roles!
And  installed the package {{ packagename }}
Output of Shell Script is {{ shell_output }}
Ansible OS Family is {{ ansible_os_family }}
